.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #9395ff 0%, #2d1b69, #ca91ff 100%);
}

.home-inner-window {
  background-color: #e2e2e2;
  height: 80%;
  width: 60%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.home-inner-window-title-container {
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.home-inner-window-title-line {
  width: 100%;
  height: 1px;
  background: linear-gradient(135deg, #1a1b4b 0%, #e2e2e2 100%);
}

.home-inner-window-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 3rem);
  overflow: hidden;
  border-radius: 10px;
}
